@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf');
}

body {
    padding: 20px;
    background: #f5f7f8;
    font-family: 'Raleway';
}

.wrapper {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "navigation" "bigbanner" "services" "segments" "articles" "news" "company" "contact" "footer";
    background-color: #fff;
    color: #444;
}


/* Navigation Start */

.navigation {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F2F2F2;
    padding: 2.3em 0;
}

.logo {
    margin-left: 3%;
}

.logo img {
    display: block;
}

nav {
    margin: 1.5em 0 0 5%;
}

header ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 1.2em;
}

header ul li a {
    text-decoration: none;
    color: #7D7C7D;
}

li a:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
}

@media screen and (min-width: 600px) {
    .navigation {
        flex-direction: row;
        justify-content: space-between;
    }
    .logo {
        margin-left: 2em;
    }
    nav {
        align-self: center;
        margin: 0 0.8em 0 0;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        margin-left: 3%;
    }
    .logo img {
        display: block;
    }
    nav {
        display: none;
    }
}


/* Navigation Ends */

.bigbanner {
    grid-area: bigbanner;
}


/* Grid Services >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.services {
    grid-area: services;
    display: grid;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: "title title title" "strategy   consultancy   solutions" "strategy   consultancy   solutions" "strategy   consultancy   solutions";
}

.services .title {
    color: black;
    font-size: 24px;
    padding: 20px;
}

.services div {
    color: white;
    font-size: 20px;
    padding: 20px;
}

.title {
    grid-area: title;
    align-self: center;
    justify-self: center;
}

.strategy {
    background: #da6f2b;
    grid-area: strategy;
}

.consultancy {
    background: #3d8bb1;
    grid-area: consultancy;
}

.solutions {
    background: #e03f3f;
    grid-area: solutions;
}


/* Grid Services Ends*/


/* Grid Segments >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.segments {
    grid-area: segments;
    display: grid;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: "title title title""s1 s2 s3" "s4 s5 s6";
}

.segments div {
    color: white;
    font-size: 20px;
    padding: 20px;
}

.s1 {
    background: #cdcdd2;
    grid-area: s1;
}

.s2 {
    background: #acabb4;
    grid-area: s2;
}

.s3 {
    background: #595769;
    grid-area: s3;
}

.s4 {
    background: #434153;
    grid-area: s4;
}

.s5 {
    background: #2f2e3a;
    grid-area: s5;
}

.s6 {
    background: #141919;
    grid-area: s6;
}


/* Grid Segments Ends*/


/* Grid Articles >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.articles {
    grid-area: articles;
    display: grid;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: "title title title""s1 s2 s3" "s4 s5 s6";
}

.articles div {
    color: white;
    font-size: 20px;
    padding: 20px;
}

.a1 {
    background: #cdcdd2;
    grid-area: a1;
}

.a2 {
    background: #acabb4;
    grid-area: a2;
}

.a3 {
    background: #595769;
    grid-area: a3;
}

.a4 {
    background: #434153;
    grid-area: a4;
}

.a5 {
    background: #2f2e3a;
    grid-area: a5;
}

.a6 {
    background: #141919;
    grid-area: a6;
}


/* Grid Articles Ends*/

.news {
    grid-area: news;
}

.company {
    grid-area: company
}

.contact {
    grid-area: contact;
}

.footer {
    grid-area: footer;
}