/* @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf');
} */


/* body {
    margin: 40px;
} */

#services {
    width: 90%;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 100px 10px 100px;
    grid-template-rows: auto 10px auto;
}

#services>.a {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #495b7b;
    color: rgb(240, 242, 246);
    border-radius: 5px;
}

#services>.strategy {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #495b7b;
    color: rgb(240, 242, 246);
    border-radius: 5px;
}

#services>.consultancy {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #495b7b;
    color: rgb(240, 242, 246);
    border-radius: 5px;
}

#services>.solutions {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #495b7b;
    color: rgb(240, 242, 246);
    border-radius: 5px;
}


/* #segments {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
}

#articles {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
}

#news {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
} */