@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf');
}

body {
    color: rgb(8, 0, 0);
    font-family: 'Raleway';
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}


/* this is the important part to center content in a an element on a Grid */


/* .cont {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.content div .hov2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hov2:nth-child(even) {
    background: #777;
    padding: 10px;
}

.hov1 {
    color: #7D7C7D;
    font-size: 1vw;
}

.hov1:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
}

.hov2 {
    border: 1px solid rgb(0, 95, 107);
    border-radius: 3px;
    background-color: rgba(0, 95, 107, 0.8);
    color: #fff;
    font-size: 2em;
    padding: 10px;
    transition: 0.5s;
}

.hov2:hover {
    box-shadow: 5px 5px 8px 0px rgb(79, 83, 90);
}


/* start defining blocks */

.one {
    grid-column: 1 / span 1;
    /* grid-area: one; */
}

.one img {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
}

.two {
    grid-column: 4/ span 1;
    /* grid-area: two; */
}

.three {
    grid-column: 5/ span 1;
    /* grid-area: three; */
}

.four {
    grid-column: 6/ span 1;
    /* grid-area: four; */
}

.item-1 {
    /* background: #ffffff; */
    grid-column: 1/ span 2;
}

.item-2 {
    background: #3d8bb1;
    grid-column: 1/ span 2;
    font-size: 1.2vw;
}

.five {
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.six {
    grid-column: 3/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.seven {
    grid-column: 5/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.eigth {
    grid-column: 2/span 4;
    /* grid-area: eigth; */
}

.nine {
    grid-column: 1/ span 2;
    /* grid-area: nine; */
}

.ten {
    display: grid;
    grid-column: 3/span 2;
}

.eleven {
    display: grid;
    grid-column: 5/span 2;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}


/* img {
    grid-column: span 6;
    grid-row: 7/10;
    width: 100%;
    height: auto;
} */