@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf');
}

body {
    color: rgb(8, 0, 0);
    font-family: 'Raleway';
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: minmax(150px, 1fr); */
    grid-gap: 10px;
    margin: 0 auto;
    /* grid-template-areas: "three three three" "seven seven seven" "six six six" "one one one " "two two two " "two two two " "five five five " "five five five" "eigth eigth eigth" "nine nine nine" "four four four"; */
}


/* this is the important part to center content in a an element on a Grid */


/* .cont {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.content div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 95, 107);
    border-radius: 3px;
    background-color: rgba(0, 95, 107, 0.8);
    color: #fff;
    font-size: 2em;
    padding: 10px;
}

.content div:nth-child(even) {
    background: #777;
    padding: 10px;
}


/* start defining blocks */

.one {
    grid-column: 1 / span 1;
    /* grid-area: one; */
}

.one img {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
}

.two {
    grid-column: 4/ span 1;
    /* grid-area: two; */
}

.three {
    grid-column: 5/ span 1;
    /* grid-area: three; */
}

.four {
    grid-column: 6/ span 1;
    /* grid-area: four; */
}

.five {
    grid-column: 1/ span 2;
    grid-row: 2/4;
    /* grid-area: five; */
}

.six {
    grid-column: 3/span 2;
    grid-row: 2/4;
    /* grid-area: six; */
}

.seven {
    grid-column: 5/span 2;
    grid-row: 2/4;
    /* grid-area: seven; */
}

.eigth {
    grid-column: span 6;
    grid-row: 4/6;
    /* grid-area: eigth; */
}

.nine {
    grid-column: 1/ span 1;
    grid-row: 6/7;
    /* grid-area: nine; */
}

.ten {
    display: grid;
    grid-column: 2/span 1;
    grid-row: 7/10;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}


/* img {
    grid-column: span 6;
    grid-row: 7/10;
    width: 100%;
    height: auto;
} */